body{
    background-color: #1eb0d2;
    font-family: 'Shrikhand', cursive;
}

.game-container{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    height: 400px;
    width:400px;
}

#game-layer1{
    height: 420px;
    width:420px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

#game-over{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    height: 420px;
    width:420px;
    background-color: #4e4b4b;
    color: white;
    margin: 50px auto;
}

.game-btn {
    border-top-right-radius: 100%;
    border:solid black 1px;
    height: 190px;
    width:190px;
    position: absolute;
    z-index: 2;
}

.red{
    margin-top: 15px;
    margin-left: 200px;
    background-color: #ca0d0d;
    box-shadow: 4px 4px 0px #ca0d0d;;
}

.red:active, .red:focus{
    background-color: red;
    box-shadow: none;
}

.red:focus{
    transition: background-color 0.5s ease-out;
}


.yellow{
    margin-top: 15px;
    margin-left: -200px;
    background-color:rgb(187 187 5);
    box-shadow: -3px 3px 0px rgb(187 187 5);
    transform: rotate(270deg);
}

.yellow:active, .yellow:focus{
    background-color: #ffff7d;
    box-shadow: none;
}

.blue {
    margin-top: 215px;
    margin-left: 200px;
    background-color: rgb(22, 22, 187);
    box-shadow: 3px -4px 0px rgb(22, 22, 187);
    transform: rotate(90deg);
}

.blue:active, .blue:focus{
    background-color: blue;
    box-shadow: none;
}

.green{
    margin-top: 215px;
    margin-left: -200px;
    background-color:green;
    box-shadow: 3px -4px 0px rgb(10, 85, 27);
    transform: rotate(180deg);
}

.green:active, .green:focus{
    background-color:#9ce89c;
    box-shadow: none;
}

.inner-circle{
    position: absolute;
    background-color: black;
    margin-top: 109px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.counters{
    display: flex;
    justify-content: center;
}

button{
    width: 200px;
    font-size: 28px;
    height: 50px;
    font-family: 'Shrikhand', cursive;
    background-color: black;
    color:white;
    border-radius: 8px;
    cursor: pointer;
}

@media only screen and (min-width: 300px) and (max-width:600px){
    .game-container{
        height: 298px;
        width:298px;
    }
    
    #game-layer1{
        height: 294px;
        width:294px;
    }
    
    .game-btn {
        height: 133px;
        width:133px;
    }
    
    .red{
        margin-top: 10px;
        margin-left: 140px;
        box-shadow: 2px 2px 0px rgb(138, 20, 20);
    }

    .yellow{
        margin-top: 10px;
        margin-left: -140px;
        box-shadow: -2px 2px 0px rgb(183, 183, 36);
    }
      
    .blue{
        margin-top: 150px;
        margin-left: 140px;
        box-shadow: 3px -1px 0px rgb(13, 22, 129);
    }
    
    .green{
        margin-top: 150px;
        margin-left: -140px;
        box-shadow: 3px -1px 0px rgb(10, 85, 27);
    }
    
    .inner-circle{
        margin-top: 76px;
        width: 140px;
        height: 140px;
    }

    button{
        width: 150px;
        font-size: 22px;
        height: 40px;

    }
}

