body{
    background-color: #7dbac8;
    font-family: 'Shrikhand', cursive;
}

.game-container{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    height: 400px;
    width:400px;
}

#game-layer1{
    height: 420px;
    width:420px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.game-btn {
    border-top-right-radius: 100%;
    border:solid black 1px;
    height: 190px;
    width:190px;
    position: absolute;
    z-index: 2;
}

.red{
    margin-top: 15px;
    margin-left: 200px;
    background-color: #980b0b;
    box-shadow: 4px 4px 0px #980b0b;
}

.red:active, .red:focus{
    background-color: red;
    box-shadow: none;
}

.red:focus{
    transition: background-color 0.5s ease-out;
}

.yellow{
    margin-top: 15px;
    margin-left: -200px;
    background-color:rgb(141 141 8);
    box-shadow: -3px 3px 0px rgb(141 141 8);
    transform: rotate(270deg);
}

.yellow:active, .yellow:focus{
    background-color: #ffff7d;
    box-shadow: none;
}

.blue {
    margin-top: 215px;
    margin-left: 200px;
    background-color: rgb(22, 22, 187);
    box-shadow: 3px -4px 0px rgb(22, 22, 187);
    transform: rotate(90deg);
}

.blue:active, .blue:focus{
    background-color: blue;
    box-shadow: none;
}

.green{
    margin-top: 215px;
    margin-left: -200px;
    background-color:green;
    box-shadow: 3px -4px 0px rgb(10, 85, 27);
    transform: rotate(180deg);
}

.green:active, .green:focus{
    background-color:#9ce89c;
    box-shadow: none;
}

.inner-circle{
    position: absolute;
    background-color: black;
    margin-top: 109px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

button{
    width: 200px;
    font-size: 28px;
    height: 50px;
    font-family: 'Shrikhand', cursive;
    background-color: black;
    color:white;
    border-radius: 8px;
    cursor: pointer;
}

#message-container{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 28px;
    height: 380px;
    width:420px;
    background-color: #4e4b4b;
    color: white;
    margin: 50px auto;
}

#message{
    font-size: 32px;
    font-family: orbitron;
}


#score-boards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    margin: 0 auto;
    font-family: orbitron;
    font-weight: bolder;
    color: red;
    background-color: maroon;
    padding: 20px 5px;
    border-radius: 5px;
    font-size: 24px;
}

#count, #longest-count{
    width: fit-content;
    height: fit-content;
}

.counters{
    display: flex;
    justify-content: center;
}

#continue-btn{
    display: none;
}

@media only screen and (min-width: 1600px){
    .game-container{
        height: 596px;
        width:596px;
    }
    
    #game-layer1{
        height: 588px;
        width:588px;
    }

    #message-container{
        height: 500px;
        width:800px;
    }
    
    .game-btn {
        height: 267px;
        width: 267px;
    }

    .red{
        margin-top: 20px;
        margin-left: 280px;
        box-shadow: 2px 2px 0px #980b0b;
    }

    .yellow{
        margin-top: 20px;
        margin-left: -280px;
        box-shadow: -2px 2px 0px rgb(141 141 8);
    }
      
    .blue{
        margin-top: 300px;
        margin-left: 280px;
        box-shadow: 3px -1px 0px rgb(13, 22, 129);
    }
    
    .green{
        margin-top: 300px;
        margin-left: -280px;
        box-shadow: 3px -1px 0px rgb(10, 85, 27);
    }
    
    .inner-circle{
        margin-top: 152px;
        width: 280px;
        height: 280px;
    }

    #score-boards{
        font-size: 32px;
    }

    button{
        width: 250px;
        font-size: 32px;
        height: 60px;

    }
}


@media only screen and (min-width: 300px) and (max-width:600px){
    .game-container{
        height: 298px;
        width:298px;
    }
    
    #game-layer1{
        height: 294px;
        width:294px;
    }

    #message-container{
        width:90%;
    }
    
    .game-btn {
        height: 133px;
        width:133px;
    }
    
    .red{
        margin-top: 10px;
        margin-left: 140px;
        box-shadow: 2px 2px 0px #980b0b;
    }

    .yellow{
        margin-top: 10px;
        margin-left: -140px;
        box-shadow: -2px 2px 0px rgb(141 141 8);
    }
      
    .blue{
        margin-top: 150px;
        margin-left: 140px;
        box-shadow: 3px -1px 0px rgb(13, 22, 129);
    }
    
    .green{
        margin-top: 150px;
        margin-left: -140px;
        box-shadow: 3px -1px 0px rgb(10, 85, 27);
    }
    
    .inner-circle{
        margin-top: 76px;
        width: 140px;
        height: 140px;
    }

    button{
        width: 150px;
        font-size: 22px;
        height: 40px;
    }

    #score-boards{
        width:100%;
        padding: 2% 1%;
        justify-content: space-between;
        font-size:18px;
    }
}

